<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="'Paese - ' + ${country.country}"></title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>

<body>
<div th:replace="~{fragments/navbar :: mainNavbar}"></div>

<div class="container my-5">

    <h2 class="fw-bold mb-4" th:text="${country.country}"></h2>

    <div class="text-muted mb-3">
        Area geografica: <span th:text="${geoArea.geoArea}"></span>
    </div>

    <div class="row g-4">
        <div class="col-md-4" th:each="itin : ${itinerariesByCountry}">
            <div class="card shadow-sm border-0">
                <img th:src="@{${itin.picturePath}}" class="card-img-top">
                <div class="card-body">
                    <h5 th:text="${itin.title}"></h5>
                    <a th:href="@{'/trips/trip-itinerary/' + ${itin.id}}"
                       class="btn btn-primary btn-sm">Dettagli</a>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>
