<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="'Aree Geografiche - ' + ${geoArea.geoArea}"></title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
<div th:replace="~{fragments/navbar :: mainNavbar}"></div>

<div class="container my-5">
    <h2 class="fw-bold mb-4" th:text="${geoArea.geoArea}"></h2>

    <div class="row g-4">
        <div class="col-md-4" th:each="itin : ${itinerariesByGeoArea}">
            <div class="card shadow-sm border-0">
                <img th:src="@{${itin.picturePath}}" class="card-img-top card-img-fixed">
                <div class="card-body">
                    <h5 th:text="${itin.title}"></h5>
                    <a th:href="@{'/trips/trip-itinerary/' + ${itin.id}}"
                       class="btn btn-primary btn-sm">Dettagli</a>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>
