<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Benvenuto in AdventureTogether!</title>
</head>

<body style="font-family: Arial, sans-serif; color: #333;">

<p>Ciao <span th:text="${name}">Utente</span>,</p>

<p>Benvenuto nella community di <strong>AdventureTogether</strong>!
    Siamo felici di averti con noi e non vediamo l’ora di accompagnarti nelle tue prossime avventure.</p>

<p>Puoi iniziare a esplorare i nostri viaggi visitando la homepage:</p>


<p>A presto,<br>
    Il Team di AdventureTogether</p>
<p>
    <a th:href="${homepage}" style="color: #1a73e8;">
        Vai alla homepage di AdventureTogether
    </a>
</p>


</body>
</html>

