<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dettagli Prenotazione</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>

<body>

<div th:replace="~{fragments/navbar :: mainNavbar}"></div>

<div class="container my-5">

    <h2 class="fw-bold mb-4">Dettagli Prenotazione</h2>

    <!-- CARD PRINCIPALE -->
    <div class="card shadow-sm border-0">

        <div class="card-body">

            <!-- SEZIONE PRENOTAZIONE -->
            <h4 class="fw-bold mb-3">Informazioni Prenotazione</h4>
            <p><strong>ID Prenotazione:</strong> <span th:text="${booking.id}"></span></p>
            <p><strong>Data Prenotazione:</strong> <span th:text="${#temporals.format(booking.bookingDate, 'dd/MM/yyyy')}"></span></p>
            <p><strong>Partecipanti:</strong> <span th:text="${booking.numParticipants}"></span></p>
            <p><strong>Aeroporto di partenza:</strong> <span th:text="${airport.name}"></span></p>
            <p><strong>Assicurazione:</strong> <span th:text="${booking.insuranceType != null ? booking.insuranceType : 'Basic'}"></span></p>

            <hr>

            <!-- SEZIONE TRIP -->
            <h4 class="fw-bold my-3">Informazioni Viaggio</h4>
            <p><strong>Itinerario:</strong> <a th:href="@{'/trips/trip-itinerary/' + ${itinerary.id}}"><span th:text="${trip.tripItineraryTitle}"></span></a></p>
            <img th:src="@{${trip.tripItineraryPicturePath}}"
                 class="img-fluid rounded mb-3"
                 style="max-width: 400px">

            <p><strong>Partenza:</strong> <span th:text="${#temporals.format(trip.dateDeparture, 'dd/MM/yyyy')}"></span></p>
            <p><strong>Ritorno:</strong> <span th:text="${#temporals.format(trip.dateReturn, 'dd/MM/yyyy')}"></span></span></p>
            <p><strong>Stato viaggio:</strong> <span th:text="${trip.state}"></span></p>

            <hr>


            <!-- SEZIONE PAGAMENTO -->
            <h4 class="fw-bold my-3">Pagamento</h4>

            <div th:if="${payment != null}">
                <p><strong>Importo totale pagato: </strong> <span th:text="${#numbers.formatDecimal(payment.amountPaid, 1, 'POINT', 2, 'COMMA')}"></span> €
                </p>
                <p><i>di cui Assicurazione: </i><span th:text="${#numbers.formatDecimal(payment.amountInsurance, 1, 'POINT', 2, 'COMMA')}"></span> €
            </div>

            <hr>

            <!-- SEZIONE RECENSIONE -->
            <h4 class="fw-bold my-3">La tua Recensione</h4>

            <div th:if="${review != null}">
                <p><strong>Punteggio:</strong>
                    <span th:text="${review.score}"></span> / 5
                </p>
                <p th:text="${review.textReview}"></p>
            </div>

            <div th:if="${review == null and trip.dateReturn.isBefore(T(java.time.LocalDate).now())}">
                <a class="btn btn-outline-primary" th:href="@{'/traveler/review/' + ${trip.id}}">
                    Lascia una recensione
                </a>
            </div>
            <div th:if="${review == null and !trip.dateReturn.isBefore(T(java.time.LocalDate).now())}">

                    <p><i>Ricordati di lasciare una recensiona appena torni dal viaggio</i></p>

            </div>

        </div>
    </div>

</div>

</body>
</html>
