<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pagamento completato</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>

<body>

<div th:replace="~{fragments/navbar :: mainNavbar}"></div>

<div class="container text-center my-5">

    <h1 class="fw-bold text-success mb-3">Pagamento completato!</h1>

    <p class="lead">
        La tua prenotazione è stata registrata correttamente.
        Riceverai una email di conferma a breve.
    </p>

    <div class="card mt-4 p-4 shadow-sm" style="max-width: 500px; margin:auto;">
        <h5 class="fw-bold">Dettagli prenotazione</h5>

        <p><strong>ID booking:</strong> <span th:text="${booking.id}"></span></p>
        <p><strong>Data:</strong> <span th:text="${booking.bookingDate}"></span></p>
        <p><strong>Totale pagato:</strong> <span th:text="${booking.totalCost}"></span> €</p>
    </div>

    <a th:href="@{'/traveler/bookings'}" class="btn btn-primary mt-4">
        Vai alle tue prenotazioni
    </a>

</div>

</body>
</html>
