<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Adventure Together - Home</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>

<!-- NAVBAR -->
<div th:replace="~{fragments/navbar :: mainNavbar}"></div>

<div th:if="${errorMessage}" class="alert alert-danger" th:text="${errorMessage}"></div>
<div th:if="${successMessage}" class="alert alert-success" th:text="${successMessage}"></div>

<!-- HERO -->
<div class="container-fluid bg-light py-5 border-bottom">
    <div class="container text-center">
        <img th:src="@{/images/LOGO2.png}" alt="Logo"
             style="height:180px; margin-right:10px;">
    </div>
</div>

<!-- VIAGGI IN EVIDENZA -->
<div class="container my-5" th:if="${hasTrips}">
    <h2 class="mb-4">Viaggi in partenza entro 30 giorni</h2>

    <div class="row g-4">
        <div class="col-md-4" th:each="trip : ${trips}">
            <div class="card shadow-sm border-0">

                <img th:src="@{${trip.tripItineraryPicturePath}}"
                     class="card-img-top" alt="Immagine itinerario">

                <div class="card-body">
                    <h5 class="card-title" th:text="${trip.tripItineraryTitle}"></h5>
                    <p class="card-text small text-muted">
                        Partenza: <span th:text="${trip.dateDeparture}"></span>
                    </p>

                    <a th:href="@{'/trips/trip-itinerary/' + ${trip.tripItineraryId}}"
                       class="btn btn-primary btn-sm">Dettagli</a>
                </div>

            </div>
        </div>
    </div>
</div>
<br>
<div class="container text-center" th:if="${!hasTrips}">
    <h5 class="mb-4 align-content-center">Non ci sono partenze nei prossimi 30 giorni</h5>
    <h5 class="mb-4 align-content-center">Esplora tutti i nostri itinerari <a href="trips/dashboard">✈️</a></h5>
</div>

</body>
</html>
